.fa-bars {
    cursor: pointer;
}

.fa-sign-out {
    color: #dc3545;
}

.pointer {
    cursor: pointer;
}

.nav-item {
    .nav-link {
        cursor: pointer;
    }
}
.nav-item {
    button.nav-link {
        outline: none;
        border: none;
        background-color: transparent;
    }
}
